<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Madlibs</title>
</head>

<body>
    <h1>Madlibs Story</h1>

    <div>
        <div id="form-c">
            <form action="/story">
                <input type="text" placeholder="place" name="place">
                <br>
                <br>
                <input type="text" placeholder="noun" name="noun">
                <br>
                <br>
                <input type="text" placeholder="verb" name="verb">
                <br>
                <br>
                <input type="text" placeholder="adjective" name="adjective">
                <br>
                <br>
                <input type="text" placeholder="plural noun" name="plural-noun">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>